.about {
  background-color: $white;
  h2 {
    color: $black;
    text-align: center;
    margin: 50px 0;
  }
  .about-boris {
    display: flex;
  }
  .image-container {
    width: calc(100% / 5);
    margin-right: 50px;
  }
  img {
    border-radius: 50% 50%;
  }

  p {
    width: calc( 4 * (100% / 5) - 50px);
    color: $black;
  }
}