.about {
  // background-color: $grey;
  // h2 {
  //   color: $white;
  // }
  .about-boris {
    display: flex;
  }
  .image-container {
    width: calc(100% / 5);
    margin-right: 50px;
  }
  img {
    border-radius: 50% 50%;
    border: 2px solid $blue;
    animation: fade-round 5s ease infinite;
  }

  p {
    width: calc( 4 * (100% / 5) - 50px);
    // color: $black;
  }
}