footer {
  background-color: $grey;
  padding-top: 50px;
  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 1.6rem;
  }
  input, textarea {
    background-color: inherit;
    padding: 25px;
  }
  input{
    width: 48%;
    height: 30px;
    display: inline;
    border: 0;
    border-bottom: 1px solid $blue;
  }
  textarea, button {
    margin-top: 25px;
    border: 1px solid $blue;
  }
  textarea {
    width: 100%;
    resize: none;
  }
  button {
    width: 100px;
    margin: 25px auto 0px;
    background-color: $blue;
    height: 40px;
    padding: 5px 0;
    text-transform: capitalize;
    font-weight: 500;
  }

  .socials {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 50px;
  p {
    margin-bottom: 25px;
  }
  .social-icons{
    width: 10%;
    min-width: 100px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }
  i {
    font-size: 3rem;
  }
  i:hover,
  i:focus{
    color: $blue;
  }
}
}