footer {
  // background-image: url(../assets/coffee.jpg), linear-gradient(90deg, rgba(41,41,41,0) 0%, rgba(41,41,41,1) 50%);
  background-image: url(../assets/coffee.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    padding-top: 50px;
  }
  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 1.6rem;
  }
  input, textarea {
    background-color: inherit;
    padding: 25px;
  }
  input{
    width: 48%;
    height: 30px;
    display: inline;
    border: 0;
    border-bottom: 1px solid $blue;
  }
  textarea, button {
    margin-top: 25px;
    border: 1px solid $blue;
  }
  textarea {
    width: 100%;
    resize: none;
  }
  button {
    width: 100px;
    margin: 25px auto 0px;
    background-color: $blue;
    height: 40px;
    padding: 5px 0;
    text-transform: capitalize;
    font-weight: 500;
  }

  .socials {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 50px;
  p {
    margin-bottom: 25px;
  }
  .social-icons{
    width: 10%;
    min-width: 100px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }
  i {
    font-size: 3rem;
  }
  i:hover,
  i:focus{
    color: $blue;
  }
  }
  .closing{
  background-color: $black;
  border-top: 1px solid $blue;
  animation: fade-top 5s ease infinite;
  text-align: center;
  min-height: 50px;
  p{
    padding: 10px 0;
  }
  }
}

