footer {
  background-color: $grey;
  padding-top: 50px;
  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 1.6rem;
  }
  input, textarea {
    background-color: inherit;
    padding: 25px;
  }
  input{
    width: 48%;
    height: 30px;
    display: inline;
    border: 0;
    border-bottom: 1px solid $blue;
  }
  textarea, button {
    margin-top: 25px;
    border: 1px solid $blue;
  }
  textarea {
    width: 100%;
    resize: none;
  }
  button {
    width: 10%;
    margin: 25px auto 0px;
    background-color: $blue;
    height: 40px;
    padding: 5px 0;
    text-transform: capitalize;
    font-weight: 500;
  }

  .social-icons {
    text-align: center;
    font-size: 2rem;
    p {
      margin-bottom: 25px;
    }
  }
}