html {
  font-size: 62.5%;
}

body {
  background-color: $white;
}

*{
  font-family: Raleway, sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style: none;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

p {
  font-size: 2rem;
  font-family: 'Open Sans', serif;
}

img {
  display: block;
  width: 100%;
  max-width: 200px;
}


// Style Divs
.bottom-slant {
  margin-bottom: 50px;
  border-style: solid;
  border-width: 75px 100vw 0 0;
  border-color: $grey transparent transparent transparent;
}

.top-slant {
  margin-top: 50px;
  border-style: solid;
  border-width: 75px 100vw 0 0;
  border-color: transparent #292929 transparent transparent;
}