html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $black;
  .calendly-prompt {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 10px 10px 0;
    a{
      display: block;
      padding-right: 10px;
      font-size: 3rem;
      text-align: right;
    }
    p {
      font-size: 1.8rem;
      padding-bottom: 10px;
      opacity: 0;
      transition: opacity ease 1s;
      // transform: rotate(270deg);
    }
  }
  .calendly-prompt:hover{
    p {
      opacity: 1;
    }
  }
  i:hover{
    color: $blue;
  }
}

*{
  font-family: Raleway, sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 50px 0;
}

li {
  list-style: none;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
  // padding-top: 50px;
  margin-bottom: 50px;
}

p {
  font-size: 2rem;
  font-family: 'Open Sans', serif;
}

img {
  display: block;
  width: 100%;
  max-width: 200px;
}


// Style Divs
.bottom-slant,
.top-slant{
  border-style: solid;
  border-width: 75px 98.5vw 0 0;
}
.bottom-slant {
  // margin-bottom: 50px;
  border-color: transparent $black transparent transparent;
}

.top-slant {
  // padding-top: 50px;
  border-color: $black transparent transparent transparent;
}

// Animations

@keyframes fade-bottom{
  0%, 100% {
    border-bottom: 1px solid $blue;
  }
  50% {
    border-bottom: 1px solid $black;
  }
}

@keyframes fade-top{
  0%, 100% {
    border-top: 1px solid $blue;
  }
  50% {
    border-top: 1px solid $black;
  }
}

@keyframes fade-round{
  0%, 100% {
    border: 2px solid $blue;
  }
  50% {
    border: 2px solid $black;
  }
}