header {
  background-image: url(../assets/code-background.jpg);
  // background-image: linear-gradient(0deg, rgba(41,41,41,0) 75%, rgba(41,41,41,1) 95%), url(../assets/code-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container{
  min-height: 60vh;
}

.nav-bar {
  background-color: $black;
  border-bottom: 1px solid $blue;
  animation: fade-bottom 5s ease infinite;
  margin-bottom: 100px;
  

  .nav-flex {
    display: flex;
    justify-content: space-between;

  }
  a{
    margin: 0 auto;
  }
  h2 {
    padding: 10px 0;
    margin: 0;
    font-size: 1.8rem;
  }
  nav{
    width: 52.5%;
    margin: 0;
  }
  ul {
    height: 100%;
    display: flex;
  }
  li {
    padding: 10px 37.5px;
    list-style: none;
  }
}

.header-content {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  h1 {
    color: $blue;
  }
  img {
    margin: 0 auto;
  }
}

.hover-header-links {
  border-bottom: 3px solid $black;
}

.hover-header-links:hover,
.hover-header-links:focus {
  border-bottom: 3px solid $blue;
  transition: all (0.5s);
}