.projects {
  h2 {
    color: $white;
  }
  img{
    max-width: none;
    border-radius: 10px;
  }
  .hover-project-gif{
    display: none;
  }


  .project-container {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 20px;
  }

  .project-content{
    height: 100%;
  }

  .project-column-one,
  .project-column-two,
  .project-column-three {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px 0;
  }

  .project-column-one,
  .project-column-three {
    grid-template-rows: 3fr 2fr;
    img {
      // height: 100%;
      object-fit: fill;
    }
  }

  .project-column-two {
    grid-template-rows: 2fr 3fr;
  }

  .project-one,
  .project-two,
  .project-three {
    grid-row: 1;
  }

  .project-four,
  .project-five,
  .project-six {
    grid-row: 2;
  }

  a:hover,
  a:focus {
    .hover-project-jpg{
      display: none;
    }
    .hover-project-gif{
      display: block;
    }
  }
}