.projects {
  h2 {
    color: $black;
  }
  img{
    max-width: none;
  }
  .project-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 10px;
  }

  .project-content{
    height: 100%;
  }

  .project-column-one,
  .project-column-two,
  .project-column-three {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0 0;
  }

  .project-column-one,
  .project-column-three {
    grid-template-rows: 3fr 2fr;
    img {
      // height: 100%;
      object-fit: fill;
    }
  }

  .project-column-two {
    grid-template-rows: 2fr 3fr;
  }

  .project-one,
  .project-two,
  .project-three {
    grid-row: 1;
  }

  .project-four,
  .project-five,
  .project-six {
    grid-row: 2;
  }
}