@media (max-width: 1250px) {
  nav{
    width: 70%;
  }
  .nav-bar li {
    padding: 10px 20px;
  }

  .bottom-slant,
  .top-slant{
    border-width: 75px 98vw 0 0;
  }
}

@media (max-width: 870px) {
  .nav-flex{
    nav {
      display: none;
    }
  }

  .about .about-boris {
    display: block;
    .image-container, img, p{
      margin: 0px auto 50px;
    }
  }

  .skills {
    background-position: center;
  }

  .projects {
    min-height: 600px;
    h2, h3, p {
      text-align: center;
    }
  }

  .projects .project-content{
    display: block;
    .project-image-container {
      margin: 0 auto 20px;
      // max-height: 200px;
      // overflow: hidden;
    }
    p:last-child {
      text-align: left;
      margin-top: 20px;
    }
  }

  

  footer {
    input {
      display: block;
      width: 96%;
    }
  }

  .bottom-slant,
  .top-slant{
    border-width: 40px 97vw 0 0;
  }
}

@media (max-width: 580px) {
  .skill-icon-containers {
    grid-template-columns: 1fr 1fr 1fr;
  }
  form, input{
    display: block;
  }
  .icon-10 {
    grid-column-start: 2;
  }

  .bottom-slant,
  .top-slant{
    border-width: 40px 96vw 0 0;
  }
}