// COLORS
$blue: #3078A4;
$yellow: #FEC600;
$grey: #292929;
$light-grey: #656565;
$white: #F1F1F1;
$black: #111111;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@400;700&display=swap');