@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #111111;
}

body .calendly-prompt {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 10px 10px 0;
}

body .calendly-prompt a {
  display: block;
  padding-right: 10px;
  font-size: 3rem;
  text-align: right;
}

body .calendly-prompt p {
  font-size: 1.8rem;
  padding-bottom: 10px;
  opacity: 0;
  -webkit-transition: opacity ease 1s;
  transition: opacity ease 1s;
}

body .calendly-prompt:hover p {
  opacity: 1;
}

body i:hover {
  color: #3078A4;
}

* {
  font-family: Raleway, sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 50px 0;
}

li {
  list-style: none;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
}

p {
  font-size: 2rem;
  font-family: 'Open Sans', serif;
}

img {
  display: block;
  width: 100%;
  max-width: 200px;
}

.bottom-slant,
.top-slant {
  border-style: solid;
  border-width: 75px 98.5vw 0 0;
}

.bottom-slant {
  border-color: transparent #111111 transparent transparent;
}

.top-slant {
  border-color: #111111 transparent transparent transparent;
}

@-webkit-keyframes fade-bottom {
  0%, 100% {
    border-bottom: 1px solid #3078A4;
  }
  50% {
    border-bottom: 1px solid #111111;
  }
}

@keyframes fade-bottom {
  0%, 100% {
    border-bottom: 1px solid #3078A4;
  }
  50% {
    border-bottom: 1px solid #111111;
  }
}

@-webkit-keyframes fade-top {
  0%, 100% {
    border-top: 1px solid #3078A4;
  }
  50% {
    border-top: 1px solid #111111;
  }
}

@keyframes fade-top {
  0%, 100% {
    border-top: 1px solid #3078A4;
  }
  50% {
    border-top: 1px solid #111111;
  }
}

@-webkit-keyframes fade-round {
  0%, 100% {
    border: 2px solid #3078A4;
  }
  50% {
    border: 2px solid #111111;
  }
}

@keyframes fade-round {
  0%, 100% {
    border: 2px solid #3078A4;
  }
  50% {
    border: 2px solid #111111;
  }
}

header {
  background-image: url(../assets/code-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  min-height: 60vh;
}

.nav-bar {
  background-color: #111111;
  border-bottom: 1px solid #3078A4;
  -webkit-animation: fade-bottom 5s ease infinite;
          animation: fade-bottom 5s ease infinite;
  margin-bottom: 100px;
}

.nav-bar .nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar a {
  margin: 0 auto;
}

.nav-bar h2 {
  padding: 10px 0;
  margin: 0;
  font-size: 1.8rem;
}

.nav-bar nav {
  width: 52.5%;
  margin: 0;
}

.nav-bar ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar li {
  padding: 10px 37.5px;
  list-style: none;
}

.header-content {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.header-content h1 {
  color: #3078A4;
}

.header-content img {
  margin: 0 auto;
}

.hover-header-links {
  border-bottom: 3px solid #111111;
}

.hover-header-links:hover,
.hover-header-links:focus {
  border-bottom: 3px solid #3078A4;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.about .about-boris {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .image-container {
  min-width: calc(100% / 5);
  margin-right: 50px;
}

.about img {
  border-radius: 50% 50%;
  border: 2px solid #3078A4;
  -webkit-animation: fade-round 5s ease infinite;
          animation: fade-round 5s ease infinite;
}

.about p {
  width: calc( 4 * (100% / 5) - 50px);
}

.skills {
  background-image: url(../assets/keyboard-code-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  text-align: center;
}

.skills h2 {
  padding-top: 50px;
}

.skill-icon-containers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding: 0 0 50px 0;
}

.icon {
  width: 100px;
  padding: 20px 0 10px 0;
  border-radius: 10px;
  margin: 0 auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.icon i {
  width: 100px;
  font-size: 5rem;
}

.icon img {
  height: 5rem;
  width: 50px;
  margin: 0 auto;
}

.icon-1:hover,
.icon-1:focus,
.icon-6:hover,
.icon-6:focus {
  background-color: rgba(255, 0, 0, 0.6);
}

.icon-2:hover,
.icon-2:focus,
.icon-7:hover,
.icon-7:focus {
  background-color: rgba(255, 166, 0, 0.6);
}

.icon-3:hover,
.icon-3:focus,
.icon-8:hover,
.icon-8:focus {
  background-color: rgba(255, 251, 0, 0.6);
}

.icon-4:hover,
.icon-4:focus,
.icon-9:hover,
.icon-9:focus {
  background-color: rgba(0, 128, 0, 0.6);
}

.icon-5:hover,
.icon-5:focus,
.icon-10:hover,
.icon-10:focus {
  background-color: rgba(0, 0, 255, 0.6);
}

.projects {
  min-height: 500px;
}

.projects h2 {
  color: #F1F1F1;
}

.projects h3 {
  font-size: 2.3rem;
  border-bottom: 1px solid #3078A4;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.projects p {
  margin-bottom: 5px;
}

.projects img {
  max-width: none;
  border-radius: 10px;
}

.projects .project-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .project-image-container {
  width: calc(40% - 20px);
  min-width: 200px;
  margin-right: 20px;
}

.projects .project-content {
  min-height: 300px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .chevron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4rem;
}

.projects .chevron .fa-chevron-left {
  margin-right: 50px;
}

.projects .chevron .fa-chevron-right {
  margin-left: 50px;
}

.projects a:hover {
  color: #3078A4;
  -webkit-transform: all(0.5s ease);
          transform: all(0.5s ease);
}

footer {
  background-image: url(../assets/coffee.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer h2 {
  padding-top: 50px;
}

footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  font-size: 1.6rem;
}

footer input, footer textarea {
  background-color: inherit;
  padding: 25px;
}

footer input {
  width: 48%;
  height: 30px;
  display: inline;
  border: 0;
  border-bottom: 1px solid #3078A4;
}

footer textarea, footer button {
  margin-top: 25px;
  border: 1px solid #3078A4;
}

footer textarea {
  width: 100%;
  resize: none;
}

footer button {
  width: 100px;
  margin: 25px auto 0px;
  background-color: #3078A4;
  height: 40px;
  padding: 5px 0;
  text-transform: capitalize;
  font-weight: 500;
}

footer .socials {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 50px;
}

footer .socials p {
  margin-bottom: 25px;
}

footer .socials .social-icons {
  width: 10%;
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .socials i {
  font-size: 3rem;
}

footer .socials i:hover,
footer .socials i:focus {
  color: #3078A4;
}

footer .closing {
  background-color: #111111;
  border-top: 1px solid #3078A4;
  -webkit-animation: fade-top 5s ease infinite;
          animation: fade-top 5s ease infinite;
  text-align: center;
  min-height: 50px;
}

footer .closing p {
  padding: 10px 0;
}

footer .closing a:hover {
  color: #3078A4;
  -webkit-transform: all(0.5s ease);
          transform: all(0.5s ease);
}

@media (max-width: 1250px) {
  nav {
    width: 70%;
  }
  .nav-bar li {
    padding: 10px 20px;
  }
  .bottom-slant,
  .top-slant {
    border-width: 75px 98vw 0 0;
  }
}

@media (max-width: 870px) {
  .nav-flex nav {
    display: none;
  }
  .about .about-boris {
    display: block;
  }
  .about .about-boris .image-container, .about .about-boris img, .about .about-boris p {
    margin: 0px auto 50px;
  }
  .skills {
    background-position: center;
  }
  .projects {
    min-height: 600px;
  }
  .projects h2, .projects h3, .projects p {
    text-align: center;
  }
  .projects .project-content {
    display: block;
  }
  .projects .project-content .project-image-container {
    margin: 0 auto 20px;
  }
  .projects .project-content p:last-child {
    text-align: left;
    margin-top: 20px;
  }
  footer input {
    display: block;
    width: 96%;
  }
  body .calendly-prompt {
    margin: 0 0 0 auto;
    width: 25%;
    position: static;
  }
  body .calendly-prompt p {
    text-align: right;
    padding-bottom: 10px;
  }
  .bottom-slant,
  .top-slant {
    border-width: 40px 97vw 0 0;
  }
}

@media (max-width: 580px) {
  .skill-icon-containers {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  form, input {
    display: block;
  }
  .icon-10 {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .bottom-slant,
  .top-slant {
    border-width: 40px 96vw 0 0;
  }
}
